<% content_for :title do %>
<h1 class="project-banner space-below">
  New Sprint
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="houston_scheduler_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    window.options = window.options || {};
    window.options.showEffort = false;
    $('#houston_scheduler_view').appendView(new Scheduler.NewSprintView({
      projects: <%= raw followed_projects.map { |project| {
        id: project.id,
        slug: project.slug,
        name: project.name
      } }.to_json %>
    }));
  });
</script>
<% end %>
