<% content_for :title do %>
<h1 class="project-banner space-below">
  Sprint
  
  <%= render partial: "projects/keyboard_shortcuts" %>
</h1>
<% end %>

<div id="houston_scheduler_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    window.options = window.options || {};
    window.options.showEffort = false;
    $('#houston_scheduler_view').appendView(new Scheduler.ShowSprintView({
      sprintId: <%= @sprint.try(:id).to_json %>,
      tickets: <%= raw Houston::Scheduler::SprintTicketPresenter.new(@sprint.tickets).to_json %>.map(function(ticket) {
        ticket.checkedOut = !!ticket.checkedOutBy;
        ticket.checkedOutByMe = ticket.checkedOutBy && (ticket.checkedOutBy.id == window.user.id);
        return new Scheduler.Ticket(ticket);
      })
    }));
  });
</script>
<% end %>
