<ul id="houston_scheduler_tabs" class="nav nav-pills">
  <li class="active"><a href="#sequence">Sequence</a></li>
  <li><a href="#unable-to-estimate">Discussion Needed <span class="badge tickets-unable-to-estimate-count zero"></span></a></li>
  <li><a href="#estimate-effort">Estimate Effort <span class="badge tickets-without-effort-count zero"></span></a></li>
  <li><a href="#estimate-value">Estimate Value <span class="badge tickets-without-value-count zero"></span></a></li>
</ul>

<div id="houston_scheduler_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    window.tickets = <%=raw @tickets.map { |t| {
      "id" => t.id,
      "estimated_effort" => t.extended_attributes["estimated_effort"],
      "estimated_value" => t.extended_attributes["estimated_value"],
      "unable_to_set_estimated_effort" => t.extended_attributes["unable_to_set_estimated_effort"],
      "unable_to_set_estimated_value" => t.extended_attributes["unable_to_set_estimated_value"],
      "summary" => t.summary
    } }.to_json %>;
    
    console.log('ticket count', tickets.length);
    console.log('a ticket', tickets[0]);
    
    tickets = new Scheduler.Tickets(tickets);
    
    new Scheduler.ProjectView({
      tickets: tickets,
      el: $('#houston_scheduler_view')
    });
  });
</script>
<% end %>
