#houston_scheduler_view {
  h3 {
    margin: 1em 0;
  
    select, input { margin-bottom: 0; }
  }
}

#houston_scheduler_tabs {
  .badge {
    padding: 2px 9px 1px;
    background-color: #444;
    
    &.zero { display: none; }
  }
  
  .active .badge { background-color: rgba(0,0,0,0.25); }
}
