.milestone {
  display: block;
  border-radius: 0.4em;
  overflow: hidden;
  padding: 1em 0.66em;

  background: white;
  box-shadow: 0 0 3px #aaa;
  background: #fafafa;

  margin-bottom: 8px;
  position: relative;

  .milestone-name { font-weight: 500; color: #555; }
  .milestone-link { text-transform: lowercase; display: inline-block; margin-left: 4px; }

  .milestone-ticket-count::after { content: 'tickets'; }
  .milestone-complexity::after { content: ' points'; }

  .milestone-ticket-count, .milestone-complexity {
    font-size: 2em;
    font-weight: 100;
    text-align: right;
    line-height: 0.66em;

    position: absolute;
    top: 9px;

    &::after {
      display: block;
      font-size: 11px;
      font-weight: 200;
    }
  }

  .milestone-ticket-count { right: 8px; }
  .milestone-complexity { right: 60px; }

  &.drag-over {
    z-index: -1;
    box-shadow: 0 0 3px #368D0F;
    background: -webkit-linear-gradient(90deg, #DCF1D4, #f1fced) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #DCF1D4, #f1fced) repeat scroll 0 0 transparent;
  }
}


.new-milestone {
  color: #efefef;
  cursor: pointer;
  padding: 0 8px;
  
  i {
    font-family: 'FontAwesome';
    font-size: 11px;
    font-style: normal;
    text-align: center;
    line-height: 1em;

    display: inline-block;
    width: 1em;
    height: 1em;
    border-style: solid;
    border-radius: 1em;
    border-width: 2px;
    padding: 2px 1px 0 1px;
    white-space: nowrap;
  }
  
  &:hover {
    text-decoration: none;
  }
}

#new_milestone_form {
  display: none;
}

#new_milestone_name {
  float: left;
  margin-right: 8px;
}

#milestones.drag-activated {
  border: 2px dashed #8DBB79;
  border-radius: 0.66em;
  margin: -6px -6px 2px -6px;
  padding: 4px;
  
  .milestone:last-child { margin-bottom: 0; }
  
  .milestone {
    background-color: #f5fdf2;
    box-shadow: 0 0 3px #79b160;
    z-index: -1;
  }
}

#milestone_group.affix {
  width: 47%;
  top: 112px;
}
