#new_ticket_form {
  padding: 0 8px;
  margin: 0 0 0.33em 0;
  
  .sequence2-new-ticket-wrap {
    position: relative;
    min-height: 3em;
    border-radius: 0.4em;
    background: white;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 3px #d4d4d4;
    
    #ticket_summary {
      margin: 0;
      height: 2.5em;
      font-size: 1.125em;
      width: auto;
      padding: 0.33em 1em;
      display: block;
      border-radius: 0.4em;
      border: none;
      box-shadow: none;
      
      width: 100%;
              box-sizing: border-box; /* For IE and modern versions of Chrome */
         -moz-box-sizing: border-box; /* For Firefox                          */
      -webkit-box-sizing: border-box; /* For Safari                           */
      
      &:focus { outline: 0; }
    }
    
    .sequence2-new-ticket-full {
      background: #f4f4f4;
      border-width: 1px 0 0 0;
      border-top: 1px solid #aaa;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      
      textarea {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0.75em 1em;
        margin: 0;
        
        width: 100%;
                box-sizing: border-box; /* For IE and modern versions of Chrome */
           -moz-box-sizing: border-box; /* For Firefox                          */
        -webkit-box-sizing: border-box; /* For Safari                           */
        
        &:focus { outline: 0; }
      }
    }
  }
  
  .sequence2-new-ticket-full {
    display: none;
  }
  
  .sequence2-new-ticket-buttons {
    padding-top: 0.5em;
    text-align: right;
  }
}
