
#project_velocity { position: absolute; top: 0; right: 0; font-size: 13px; }

.sequence-instructions { padding-left: 8px; margin-bottom: 8px; }

.sequence-explanation { color: #005580; font-weight: bold; cursor: pointer; }

#houston_scheduler_view .popover-title { margin: 0; }

#sequence_settings {
  float: right;
  padding: 10px 0;
}

.alert .popover { color: #333; }

.sequence-list {
  padding-bottom: 80px;
  
  // Cause the sequence-list to fill the table
  // cell vertically if its height is less then
  // the height of the call.
  // (Works on Chrome at least)
  display: inline-block;
  width: 100%;
  height: 100%;
}

.sequence-sorted-column.sort-active { background-color: #F4FCF2; }

#sequence_sorted.sort-active {
  &::after {
    position: fixed;
    font-family: 'FontAwesome';
    content: '\f0ab';
    font-size: 180px;
    left: 75%;
    top: 75%;
    margin-left: -90px;
    margin-top: -90px;
    color: rgba(74, 199, 18, 0.1);
    z-index: 1001; // right over the drag helpers
  }
}

.sequence-columns {
  table-layout: fixed;
  width: 100%;
}

.sequence-column {
  width: 49%;
  vertical-align: top;
  text-align: left;
  padding: 8px;
  
  &.sequence-velocity {
    width: 2%;
    text-align: right;
  }
}

th.sequence-column { padding: 0 8px; }

th.sequence-velocity {
  vertical-align: bottom;
  
  h4 {
    margin: 0;
    font-family: 'FontAwesome';
    text-align: left;
    cursor: default;
    color: #005580;
  }
  
  .popover { font-weight: normal; }
}

#houston_scheduler_view h3.sequence-title {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1em;
  margin: 1em 0 0 0;
}

#sequence_velocity_indicator {
  background: #0088cc;
  max-width: 8px;
  margin: 4px 0 4px 4px; // 8px (padding on .sequence-list) - 4px to off-center
}

.sequence-ticket {
  display: block;
  margin: 0 0 0.33em 0;
  
  .sequence-ticket-front {
    border-radius: 0.33em;
    overflow: hidden;
  
    background: white;
    border: 1px solid #d1d1d1;
    background: -webkit-linear-gradient(90deg, #e6e6e6, #f6f6f6) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #e6e6e6, #f6f6f6) repeat scroll 0 0 transparent;
  
    .ticket-type-icon {
      position: absolute;
      left: 6px;
      top: 50%;
      margin-top: -24px;
      opacity: 0.1;
    }
  }
  
  .sequence-ticket-edit {
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 100;
    font-size: 18px;
    color: rgba(0,0,0,0.15);
    
    &:hover {
      color: #005580;
      text-decoration: none;
      cursor: pointer;
      
      &::before {
        content: 'More ';
        font-size: 13px;
        line-height: 20px;
        vertical-align: bottom;
      }
    }
  }
  
  &.sequence-ticket-no-effort {
    height: 10em;
    
    .sequence-ticket-front {
      border-color: rgb(218, 205, 154);
      &::before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVElEQVR42rXMIREAIADAwOWgBv2LUATLIbhpxMTbZ6/xa/5ocpHmV5Y/Ua4oV5QryhXlinJFuaJcUS6SXJMyv6jyhyYXTS6aXDS5aHLR5KLJRZPrAAwPil0S8MMqAAAAAElFTkSuQmCC) !important;
        content: '.';
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.66;
      }
    }
  }
  
  &.sequence-ticket-cant-estimate {
    height: 10em;
    
    .sequence-ticket-front {
      border-color: rgb(206, 164, 164);
      &::before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAU0lEQVR42rXMoQ0AIADAsN2B4Qn+fwtLEGQaMVFb9hq/5o8mF2l+ZfkT5YpyRbmiXFGuKFeUK8oV5SLJNSnziyp/aHLR5KLJRZOLJhdNLppcNLkOeXn+P/ZZdQcAAAAASUVORK5CYII=) !important;
        content: '.';
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.50;
      }
      
    }
  }
  
  .warning {
    position: absolute;
    top: 6px;
    right: 32px;
    width: 0;
    font-size: 11px;
    line-height: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
  }
  
  &.hover {
    &::after { color: #333; }
  }
}

.add-ticket {
  text-transform: none;
  white-space: nowrap;
  font-weight: 200;
  font-size: 0.88em;
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
  cursor: pointer;
  
  &:hover { text-decoration: none; }
  
  i.icon {
    font-family: 'FontAwesome';
    font-size: 11px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-style: solid;
    border-radius: 1em;
    border-width: 2px;
    padding: 1px;
  }
}

.sequence-ticket.resolved {
  .sequence-ticket-front {
    background: #e8f5ef;
    border-color: #8dd6b4;
    
    &::before { background: transparent !important; }
  }
}

.sequence-ticket.unresolved {
  &.hover .sequence-ticket-front { // steel blue
    border-color: rgb(169, 215, 226);
    background: -webkit-linear-gradient(90deg, rgb(229, 238, 240), rgb(250, 251, 252)) repeat scroll 0 0 transparent;
    background:    -moz-linear-gradient(90deg, rgb(229, 238, 240), rgb(250, 251, 252)) repeat scroll 0 0 transparent;
  }
  
  &.selected .sequence-ticket-front {
    border-color: rgb(99, 178, 196);
    background: -webkit-linear-gradient(90deg, #CDE8EE, rgb(247, 252, 255)) repeat scroll 0 0 transparent;
    background:    -moz-linear-gradient(90deg, #CDE8EE, rgb(247, 252, 255)) repeat scroll 0 0 transparent;
  }
}

.sequence-ticket-summary {
  line-height: 1em;
  cursor: default;
  height: 100%;
  margin-left: 4em;
  margin-right: 2em;
  position: absolute;
  z-index: 1;
}



.sequence-ticket.flipped .flippable {
  // flip
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
  
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  
  // bring to front
  z-index: 1001;
  
  // re-align
  position: fixed;
  
  // these values are !important to override the inline styles
  width: 640px !important;
  height: 480px !important;
  top: 20% !important;
  left: 50% !important;
  margin-left: -320px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.flippable {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  // Faster transition when hiding than showing
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  
  height: 100%;
}

.sequence-ticket-front, .sequence-ticket-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// placed in front of .sequence-ticket-back
.sequence-ticket-front { z-index: 2; }

// initially flipped
.sequence-ticket-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
  
  border-radius: 0.33em;
  padding: 2px;
  background: white;
}

.sequence-dropcloth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  
  &.filled { background: rgba(0,0,0,0.33); }
}


.sequence-ticket-summary { display: table; }
.sequence-ticket-summary > div { display: table-cell; vertical-align: middle; }
