h3 { margin: 1em 0; }

.task, .headings {
  display: block;
  
  > div {
    display: inline-block;
    height: 34px;
    position: relative;
    
    &.task-description { width: 40%; }
    &.task-effort { width: 10%; }
    &.task-value { width: 10%; }
    &.task-priority { width: 10%; }
    &.task-color { width: 28px; }
  }
}

.task-color-bubble {
  display: block;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin: 7px 4px;
}

.headings div {
  height: auto;
  font-weight: bold;
  
  small { font-weight: normal; }
}

#tasks {
  margin: 0;
  padding: 0;
  position: relative;
  
  .output,
  input {
    font-size: 1.08em;
    padding: .5em .75em;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
  }
}
