.value-statements {
  li.value-statement {
    display: block;
    
    h4 { display: inline-block; margin: 6px 0; }
    .text { display: inline-block; width: 19em; white-space: nowrap; }
    .weight-throttle { display: inline-block; width: 240px; font-size: 10px; margin-left: 8px; }
    .ui-slider-horizontal .ui-slider-handle { font-size: 13px; top: -5px; }
    .weight-percentage {
      font-weight: 100;
      padding-left: 16px;
      font-size: 1.88em;
      margin: 0;
      line-height: 0.5em;
    
      &:after { content: '%'; }
    }
  }

  form.value-statement {
    margin-left: 25px;
    input { width: 19em; }
  }
}
