<div class="value-statements">
  <ol id="value_statements">
  </ol>
  
  <form class="value-statement">
    <input id="new_value_statement" autocomplete="off" maxlength="36" type="text" placeholder="New Value Statement" size="30" />
  </form>
  
  <button id="update_value_statements" class="btn btn-primary">Save</button>
</div>
