<li class="value-statement" data-id="{{viewId}}">
  <div class="text">
    {{text}}
    
    <a class="delete-link delete-nested-link" href="#" title="Delete" tabindex="-1">Delete</a>
  </div>
  <div class="weight-throttle"></div>
  <h4 class="weight-percentage">{{weight}}</h4>
</li>
