<div id="sprint_instructions">
  <h2>Edit Sprint</h2>
  <p>Drag tickets into the sprint and then click save</p>
  <button id="update_sprint_button" class="btn btn-primary">Save</button>
</div>

<table class="sequence-columns">
  <tr>
    <th class="sequence-column">
      <h3 class="sequence-title sequence-title-unsorted">Tickets</h3>
    </th>
    <th class="sequence-column">
      <h3 class="sequence-title sequence-title-sorted">Sprint</h3>
    </th>
  </tr>
  
  <tr>
    <td class="sequence-column">
      <div id="tickets_outside_sprint" class="sequence-list"></div>
    </td>
    <td class="sequence-column sequence-sorted-column">
      <div id="tickets_inside_sprint" class="sequence-list"></div>
    </td>
  </tr>
</div>
