<div id="graph" class="burndown-chart"></div>

<div class="score score-medium sprint-total-effort">
  <p class="positive">
    <span class="score-count" id="total_effort"></span>
    <span class="score-label">Checked Out</span>
  </p>
</div>

<p>
  <a class="btn" id="show_edit_mode" data-toggle="button">Edit Sprint</a>
  <a class="btn" id="show_completed_tickets" data-toggle="button">Show Completed Tickets</a>
</p>

<div>
  <form id="add_ticket_form">
    <input type="text" placeholder="Enter a ticket number or summary" id="add_ticket" />
    <i class="icon-spinner icon-spin icon-large"></i>
    <hr />
  </form>
</div>

<table class="table table-sortable table-milestone-tickets">
  <thead>
    <tr>
      <th class="ticket-sequence sort-desc"><i class="icon icon-reorder"></i></th>
      <th class="ticket-effort">Effort</th>
      <th class="ticket-project">Project</th>
      <td class="ticket-type ticket-type-na"></td>
      <th class="ticket-summary">Summary</th>
      <th class="ticket-worker">Worker</th>
      <td class="ticket-remove"></td>
    </tr>
  </thead>
  <tbody id="tickets">
    {{#tickets}}{{> sprintTicket}}{{/tickets}}
  </tbody>
</table>
