<a class="btn" id="show_completed_tickets" data-toggle="button">Show Completed Tickets</a>

<table class="table table-sortable table-hoverable">
  <thead>
    <tr>
      <th class="ticket-severity" data-attribute="severity">Severity</th>
      <th class="ticket-seriousness" data-attribute="seriousness">Seriousness</th>
      <th class="ticket-likelihood" data-attribute="likelihood">Likelihood</th>
      <th class="ticket-clumsiness" data-attribute="clumsiness">Clumsiness</th>
      <td class="ticket-type ticket-type-na"></td>
      <td class="ticket-reporter"></td>
      <th class="ticket-summary" data-attribute="summary" colspan="2">Summary</th>
      <th class="ticket-opened" data-attribute="openedAt">Opened</th>
    </tr>
  </thead>
  <tbody id="tickets"></tbody>
</table>
