<% content_for :title do %>
<h1>
  Mixer
  
  <% unless @readonly %>
  <span class="buttons mixer-buttons">
    <button id="reset_mixes" class="btn">Reset</button>
    <button id="save_mixes" class="btn btn-primary">Save</button>
  </span>
  <% end %>
</h1>
<% end %>

<div id="mixes_graph"></div>
<div id="mixes_by_week"></div>

<h3 id="selected_week"></h3>
<div id="mixer_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new Scheduler.MixPlannerView({
      readonly: <%= @readonly %>,
      mixes: <%=raw @mixes.to_json %>,
      defaultMix: <%=raw @monday.to_json %>,
      projects: <%=raw @projects.to_json %>
    });
  });
</script>
<% end %>
