<table class="sequence-columns">
  <tr>
    <th class="sequence-column">
      <h3 class="sequence-title">Tickets with no Milestone</h3>
    </th>
    <th class="sequence-column">
      <h3 class="sequence-title">Milestones</h3>
    </th>
  </tr>
  
  <tr>
    <td class="sequence-column">
      <div id="unsorted_tickets" class="sequence-list"></div>
    </td>
    <td class="sequence-column">
      <div id="milestone_group">
        <div id="milestones"></div>
        <div class="new-milestone-form">
          <a class="new-milestone" id="new_milestone"><i class="icon-plus"></i> Add Milestone</a>
          <form id="new_milestone_form">
            <input name="milestone[name]" placeholder="New Milestone" id="new_milestone_name" class="milestone" />
            <button id="create_new_milestone_button" class="btn btn-primary" type="submit">Create</button>
            <button id="cancel_new_milestone_button" class="btn" type="reset">Cancel</button>
          </form>
        </div>
      </div>
    </td>
  </tr>
</div>
