<span class="milestone-name">{{name}}</span>
<span class="milestone-ticket-count">{{ticketsCount}}</span>
<span class="milestone-complexity">{{complexity}}</span>
<a class="milestone-link" href="{{url}}">View</a>
<a class="milestone-close"><i class="icon icon-remove"></i></a>
