
#project_velocity { position: absolute; top: 0; right: 0; font-size: 13px; }

.sequence-instructions { padding-left: 8px; margin-bottom: 8px; }

#houston_scheduler_view .popover-title { margin: 0; }

#sequence_settings {
  float: right;
  padding: 10px 0;
}

.alert .popover { color: #333; }

.sequence-list {
  padding-bottom: 80px;

  // Cause the sequence-list to fill the table
  // cell vertically if its height is less then
  // the height of the call.
  // (Works on Chrome at least)
  display: inline-block;
  width: 100%;
  height: 100%;
}

.sequence-sorted-column.sort-active { background-color: #F4FCF2; }

#sequence_sorted.sort-active {
  &::after {
    position: fixed;
    font-family: 'FontAwesome';
    content: '\f0ab';
    font-size: 180px;
    left: 75%;
    top: 75%;
    margin-left: -90px;
    margin-top: -90px;
    color: rgba(74, 199, 18, 0.1);
    z-index: 1001; // right over the drag helpers
  }
}

.sequence-columns {
  table-layout: fixed;
  width: 100%;
}

.sequence-column {
  width: 50%;
  vertical-align: top;
  text-align: left;
  padding: 8px;

  &.sequence-velocity {
    width: 12px;
    text-align: right;
  }

  &.sequence-commands {
    width: 76px;
    text-align: right;
  }
}

#sequence_commands {
  display: none;

  &.affix {
    top: 140px;
    width: 76px;
  }
}

th.sequence-column { padding: 0 8px; }

th.sequence-velocity {
  vertical-align: bottom;

  h4 {
    margin: 0;
    font-family: 'FontAwesome';
    text-align: left;
    cursor: default;
    color: #005580;
  }

  .popover { font-weight: normal; }
}

#houston_scheduler_view h3.sequence-title {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1em;
  margin: 0;

  .popover {
    text-transform: none;
    font-weight: normal;
    font-size: 0.8em;
  }
}

.sequence-explanation {
  color: #d8d8d8;
  cursor: pointer;
  display: inline-block;
  padding: 2px 4px;

  &:hover { color: #333; }
}

#sequence_velocity_indicator {
  background: #0088cc;
  max-width: 8px;
  margin: 4px 0 4px 4px; // 8px (padding on .sequence-list) - 4px to off-center
}

.sequence-ticket {
  display: block;
  margin: 0 0 5px 0;

  .sequence-ticket-front {
    position: relative;
    border: 1px solid transparent;
    padding: 1px;
    background: white;

    .sequence-ticket-mask {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      overflow: hidden;
    }

    .ticket-type {
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      width: 6px;
      z-index: 10;
    }

    .sequence-ticket-summary {
      background: #f0f0f0;
    }

    .sequence-ticket-number {
      width: 4.25em;
      font-size: 0.88em;
      font-weight: 200;
      text-align: right;
      color: #aaa;
      padding-right: 1.5em;

      &:hover { color: #005580; }
    }
  }

  &.sequence-ticket-no-effort, &.sequence-ticket-cant-estimate {
    height: 10em;
  }

  &.sequence-ticket-cant-estimate {
    .sequence-ticket-summary {
      background: #fbfbfb;
      color: #d8d8d8;
    }

    .sequence-ticket-number {
      color: #d8d8d8;
    }
  }

  &.hover { &::after { color: #333; } }
}

.sequence-ticket-icon {
  display: block;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -15px;
  font-size: 1.33em;
  color: #666;
  z-index: 100;
  padding: 8px; // larger mouse target for popover
}

.sequence-ticket-icon.fa-question-circle { display: none; }
#houston_scheduler_view.with-effort .sequence-ticket-no-effort {
  .sequence-ticket-icon.fa-question-circle { display: block; }
}

.sequence-ticket-summary { display: table; height: 100%; width: 100%; }
.sequence-ticket-summary > div { display: table-cell; vertical-align: middle; padding: 0 0 0 16px; position: relative; z-index: 2; }
.sequence-ticket-summary > a { display: table-cell; vertical-align: middle; padding: 0 8px 0 0; position: relative; z-index: 2; }

.sequence-ticket-edit { display: table; height: 100%; }
.sequence-ticket-edit > i { display: table-cell; vertical-align: middle; position: relative; z-index: 2; }

.add-ticket {
  text-transform: none;
  white-space: nowrap;
  font-weight: 200;
  font-size: 0.88em;
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
  cursor: pointer;

  &:hover { text-decoration: none; }

  i.icon {
    font-family: 'FontAwesome';
    font-size: 11px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-style: solid;
    border-radius: 1em;
    border-width: 2px;
    padding: 1px;
  }
}

.sequence-ticket-prerequisite {
  display: block;
  padding: 0.66em 0.5em 0.66em 2em;
  margin: 7px -3px 2px 2px; // I'm not sure why these numbers make it look right
  line-height: 1em;
  cursor: pointer;
  position: relative;
  color: #666;

  &:hover {
    text-decoration: none;
    background: #e5eef0;
    color: #254a53;
  }

  i.fa-long-arrow-down {
    display: block;
    float: left;
    font-size: 1.75em;
    margin-right: 0.25em;
    line-height: 1.5em;
  }

  .prerequisite-statement { font-size: 0.88em; font-weight: 200; }
  .prerequisite-link { font-weight: 500; }
}

.ui-sortable .sequence-ticket.unresolved {
  cursor: pointer;

  &.hover .sequence-ticket-front { // steel blue
    border-color: rgb(169, 215, 226);

    .sequence-ticket-summary {
      background: #e5eef0;
      color: #254a53;

      .sequence-ticket-number { color: #254a53; }
    }
  }

  &.selected .sequence-ticket-front {
    border-color: rgb(99, 178, 196);

    .sequence-ticket-summary {
      background: #dcecf0;
      color: #254a53;

      .sequence-ticket-number { color: #254a53; }
    }
  }
}

.sequence-ticket-summary {
  line-height: 1em;
  cursor: default;
}

.sequence-ticket-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
