#houston_scheduler_view {
  tr.ticket-closed {
    background: #f4f4f4;
    color: #a4a4a4;
  }

  td.ticket-reporter { width: 24px; min-width: 24px; max-width:24px; padding-right: 0; }

  td.ticket-summary {
    input {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      height: 32px;
    }
  }

  .hide-completed {
    tr.ticket-closed { display: none; }
  }

  .check-out-button { white-space: nowrap; }

  .split-ticket-button {
    display: inline-block;
    border-radius: 3px;
    padding: 3px 6px;

    &:hover { background: #EDF9FF; }
  }
}
