<td class="ticket-value">
  <input type="number" value="{{estimated_value}}" name="estimated_value" class="ticket-value" />
  <button tabindex="-1" class="btn btn-unable-to-estimate">Can't Estimate</button>
</td>
<td class="ticket-summary">{{summary}} <a href="/tickets/{{id}}.json" class="ticket-details" tabindex="-1">more</a></td>
