<h3>
  Estimate Effort
</h3>

<table class="table table-sortable">
  <thead>
    <tr>
      <th class="ticket-effort sort-desc">Effort <small>(Points)</small></th>
      <th class="ticket-description">Summary</th>
    </tr>
  </thead>
  <tbody id="tickets"></tbody>
</table>
