<td class="ticket-effort">
  <input type="number" value="{{estimated_effort}}" name="estimated_effort" class="ticket-effort" />
  <button tabindex="-1" class="btn btn-unable-to-estimate">Can't Estimate</button>
</td>
<td class="ticket-summary">{{summary}} <a href="/tickets/{{id}}.json" class="ticket-details" tabindex="-1">more</a></td>
