<a class="btn" id="show_completed_tickets" data-toggle="button">Show Completed Tickets</a>

<table class="table table-sortable">
  <thead>
    <tr>
      <th class="ticket-sequence sort-desc"><i class="icon icon-reorder"></i></th>
      <th class="ticket-effort">Effort <small>(Points)</small></th>
      <td class="ticket-type ticket-type-na"></td>
      <td class="ticket-reporter"></td>
      <th class="ticket-description">Summary</th>
    </tr>
  </thead>
  <tbody id="tickets"></tbody>
</table>
