<button tabindex="-1" class="btn btn-unable-to-estimate">Can't Estimate</button>

<h4>Tasks and Effort</h4>

<table id="tasks" class="tasks"></table>

<button id="add_task_button" class="btn">Add Task</button>
