<table class="table table-sortable">
  <thead>
    <tr>
      <th class="ticket-sequence sort-desc"><i class="icon icon-reorder"></i></th>
      <th class="ticket-effort">Effort <small>(Points)</small></th>
      <th class="ticket-description">Summary</th>
    </tr>
  </thead>
  <tbody id="tickets"></tbody>
</table>
