<h3>
  Tickets
  <!-- <button id="sort_tickets" class="btn">Update Sequence</button> -->
  
  &nbsp;
  <small>Queuing Discipline:</small>
  <select id="queuing_discipline">
    {{#each queuingDisciplines}}
      <option>{{name}}</option>
    {{/each}}
  </select>
  
</h3>

<div id="sequence">
  <div class="headings">
    <div class="ticket-description">Summary</div>
    <div class="ticket-effort">Effort <small>(Points)</small></div>
    <div class="ticket-value">Value <small>(Points)</small></div>
  </div>
  
  <ul id="tickets" class="with-stripes"></ul>
</div>

<h3>
  Schedule
  
  &nbsp;
  <small>Resources:</small>
  <input type="number" id="resources_count" value="3" style="width:60px" />
</h3>

<div id="schedule"></div>
<div id="schedule_axis"></div>
