<div class="sequence-new-ticket-wrap">
  <input id="ticket_summary" name="ticket[summary]" type="text" placeholder="[feature] New Ticket" class="mousetrap" />
  <div class="sequence-ticket-description sequence-new-ticket-full">
    <textarea id="ticket_description" name="ticket[description]" rows="4" class="mousetrap"></textarea>
  </div>
</div>
<div class="sequence-new-ticket-full sequence-new-ticket-buttons">
  <button class="btn" id="reset_ticket">Cancel</button>
  <button class="btn btn-primary" id="create_ticket">Create</button>
</div>
