<div class="sequence2-ticket-back">
  <form id="edit_ticket_form" class="sequence2-ticket-form">
    <div class="sequence2-new-ticket-wrap">
      <input id="ticket_summary" name="ticket[summary]" type="text" value="{{summary}}" />
      <div class="sequence2-ticket-description sequence2-edit-ticket-full">
        <textarea id="ticket_description" name="ticket[description]">{{description}}</textarea>
      </div>
    </div>
  </form>
</div>
