<div class="sequence2-columns">
  <div class="sequence2-column">
    <h3 class="sequence2-title sequence2-title-unsorted">Backlog</h3>
    <ul id="sequence2_unsorted" class="sequence2-list"></ul>
  </div>
  
  <div class="sequence2-column">
    <h3 class="sequence2-title sequence2-title-sorted">Work Queue</h3>
    <ul id="sequence2_sorted" class="sequence2-list"></ul>
  </div>
</div>
