<table class="sequence-columns">
  <tr>
    <th class="sequence-column">
      <h3 class="sequence-title sequence-title-unsorted">
        Backlog
        <i class="icon-question-sign sequence-explanation" data-dismiss="popover" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="The backlog shows tickets for {{projectName}} that have not yet been prioritized. They will not be worked on until they are." title="Backlog" />
      </h3>
    </th>
    <th class="sequence-column">
      <h3 class="sequence-title sequence-title-sorted">
        Work Queue
        <i class="icon-question-sign sequence-explanation" data-dismiss="popover" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="The Work Queue shows tickets assigned to the development Team. Tickets closer to the top of the list will be addressed sooner." title="Work Queue" />
      </h3>
    </th>
    {{#if velocity}}
    <th class="sequence-column sequence-velocity">
      <h4 id="sequence_velocity_help" unselectable="true">&#xf059;</h4>
    </th>
    {{/if}}
    <th class="sequence-column sequence-commands"></th>
  </tr>
  
  <tr>
    <td class="sequence-column">
      <div id="sequence_unsorted" class="sequence-list"></div>
    </td>
    <td class="sequence-column sequence-sorted-column">
      <div id="sequence_sorted" class="sequence-list"></div>
    </td>
    {{#if velocity}}
    <td class="sequence-column sequence-velocity">
      <div id="sequence_velocity_indicator" style="height: {{velocity}}em;"></div>
    </td>
    {{/if}}
    <td class="sequence-column sequence-commands">
      <div id="sequence_commands">
        <div class="score score-medium sequence-ticket-count">
          <p class="positive">
            <span class="score-count" id="ticket_count"></span>
            <span class="score-label">selected</span>
          </p>
        </div>
        
        <p><button id="discuss_tickets_button" class="btn btn-danger">Discuss</button></p>
        <p><button id="postpone_tickets_button" class="btn btn-danger">Postpone</button></p>
      </div>
    </td>
  </tr>
</div>
