{{#if showInstuctions}}
  <div class="alert alert-info sequence2-instructions">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    
    Drag tickets from the
    <a class="sequence2-explanation" data-dismiss="popover" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="The backlog shows tickets for {{projectName}} that have not yet been prioritized. They will not be worked on until they are." title="Backlog">Backlog</a>
    to the
    <a class="sequence2-explanation" data-dismiss="popover" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="The Work Queue shows tickets assigned to the development Team." title="Work Queue">Work Queue</a>.
    
    <a class="sequence2-explanation" data-dismiss="popover" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="A ticket is a discrete unit of work on {{projectName}}. The taller the ticket, the more complex the task." title="Ticket">Tickets</a>
    closer to the top of the list will be addressed sooner.
  </div>
{{/if}}

<table class="sequence2-columns">
  <tr>
    <th class="sequence2-column">
      <h3 class="sequence2-title sequence2-title-unsorted">Backlog</h3>
    </th>
    <th class="sequence2-column">
      <h3 class="sequence2-title sequence2-title-sorted">Work Queue</h3>
    </th>
    <th class="sequence2-column sequence2-velocity">
      <h4 id="sequence2_velocity_help" unselectable="true">&#xf059;</h4>
    </th>
  </tr>
  
  <tr>
    <td class="sequence2-column">
      <form id="new_ticket_form" class="sequence2-new-ticket"></form>
      <div id="sequence2_unsorted" class="sequence2-list"></div>
    </td>
    <td class="sequence2-column">
      <div id="sequence2_sorted" class="sequence2-list"></div>
    </td>
    <td class="sequence2-column sequence2-velocity">
      <div id="sequence2_velocity_indicator" style="height: {{velocity}}em;"></div>
    </td>
  </tr>
</div>
