<td class="task-letter">
  {{letter}}.
</td>
<td class="task-description">
  {{description}}
</td>
<td class="task-effort">
  <input type="number" size="3" step="any" min="0.1" value="{{effort}}" name="effort" class="task-effort mousetrap" />
</td>
